<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<properties>
		<property name="appName">hanzariApp</property>
		<property name="pattern">%d{HH:mm:ss.SSS} ${appName} %-5level %logger{36} - %m%n</property>
	</properties>

	<Appenders>
		<!--Engine에 대한 Appender와 Webserver에 대한 Appender로 나눠야할듯
			추가로 일반적인 Logger들은 RollingRandomAccessFile Appender로 생성하기. -->
		<RollingRandomAccessFile name="EngineLogger"
			fileName="enginelog/enginelog.log"
			filePattern="enginelog/app/app-%d{yyyy-MM-dd_HH}_%i.log"
			immediateFlush="false" append="true" ignoreExceptions="false">
			<PatternLayout>
				<Pattern>${pattern}</Pattern>
			</PatternLayout>

			<Policies>
				<TimeBasedTriggeringPolicy interval="6"
					modulate="true" />
				<SizeBasedTriggeringPolicy size="4 MB" />
			</Policies>
			<DefaultRolloverStrategy max="500" />
		</RollingRandomAccessFile>

		<!--Console logger도 생성할지 회의 
			ConsoleAppender에 대한 자료 찾ㄱ아보기 -->
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout>
				<Pattern>${pattern}</Pattern>
			</PatternLayout>
		</Console>

		<Async name="ASYNC_LogApp" includeLocation="true">
			<AppenderRef ref="LogApp" />
		</Async>

		<Async name="ASYNC_Exception" includeLocation="true">
			<AppenderRef ref="Exception" />
		</Async>

	</Appenders>

	<Loggers>
		<Logger name="Application" level="info" additivity="false">
			<AppenderRef ref="ASYNC_LogApp" />
		</Logger>

		<!-- 모든 파일에대한 logger 설정 -->
		<Root level="error">
			<AppenderRef ref="ASYNC_Exception" />
		</Root>
	</Loggers>
</Configuration>