<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<!-- Database connection settings -->
		<property name="hibernate.connection.driver_class">org.mariadb.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mariadb://172.30.1.50:3306/hanzari?useSSL=false&amp;characterEncoding=UTF-8&amp;useUnicode=true&amp;serverTimezone=Asia/Seoul</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">0000</property>

		<!-- Hibernate SQL dialect -->
		<property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>

		<!-- Echo the SQL queries to stdout -->
		<property name="show_sql">true</property>

		<!-- Drop and re-create the database schema on startup -->
		<property name="hibernate.hbm2ddl.auto">create</property>

		<!-- Disable the second level cache -->
		<property name="hibernate.cache.use_second_level_cache">false</property>

		<!-- Names the annotated entity class -->
		<mapping class="model.Building" />
		<mapping class="model.Department" />
		<mapping class="model.Employee" />
		<mapping class="model.Figure" />
		<mapping class="model.Seat" />
		<mapping class="model.Shape" />

	</session-factory>
</hibernate-configuration>